<template>
<div>
  <b-jumbotron header="My Awesome Course" lead="Bootstrap 4 Components for Vue.js 2">
    <p>My Awesome Course</p>
    <b-button variant="primary" href="#">More Info</b-button>
  </b-jumbotron>
</div>
</template>