<template>
<div class="stcky-top">
  <b-navbar toggleable="lg" type="light" class="navbar-dark elegant-color">
    <b-container>
    <b-navbar-brand href="/">TMBU<strong>MATHS</strong></b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item href="/about">About</b-nav-item>
        <b-nav-item href="/course">Course</b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-item v-show="isLoggedIn()" @click="handleLogout()">Log out</b-nav-item>
        <b-nav-item v-show="!isLoggedIn()" @click="handleLogin()">Log In</b-nav-item>
        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template slot="button-content"><em>User</em></template>
          <b-dropdown-item href="#">Profile</b-dropdown-item>
          <b-dropdown-item href="#">Sign Out</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
    </b-container>
  </b-navbar>
</div>
</template>

<script>
import { isLoggedIn, login, logout } from "../middleware/auth"
export default {
  name: 'Navbar',
  
  methods: {
    handleLogin() {
      login();
    },
    handleLogout() {
      logout();
    },
    isLoggedIn() {
      return isLoggedIn();
    },
  },
};
</script>