<template>
  <div>
    <nuxt/>
    <Footer></Footer>
  </div>
</template>
<script>
  import Footer from '../components/Footer'
  export default {
    components: {
        Footer
    }
  }
</script>
<style>
  html { font-family: Arial, sans-serif;}
</style>