<template>
</template>
<script>
import { setIdToken, setAccessToken } from '../middleware/auth';
// import { mapMutations } from 'vuex'

export default {
  name: 'callback',
  mounted() {
    this.$nextTick(() => {
      setAccessToken();
      setIdToken();
      window.location.href = this.$store.state.loginUrl;
    });
  },
};
</script>